
body{
  background: #B0BFC2;
  color: #444;
}

header{
  background: #D36832;
  color: #FFF;
  border-bottom: 5px solid #387A9B;
  text-align: center;
}


nav{
  margin-left: 50px;
  margin-right: 50px;
  width: 15%;
  order: 1;
}

nav ul{
  list-style-type: none;
}


main{
  flex: 1;
  order: 2;
  margin-left: 50px;
  margin-right: 50px;
}

footer{
  background: #387A9B;
  color: #fff;
  text-align: right;
}

footer p{
  margin-right: 5px;
}

#content{
  display: flex;
  flex: 1;
}

#container{
  display: flex;
  width: 960px;
  background-color: white;
  flex-direction: column;
}

#images{
  width: 25%;
  order: 3;
}

#images h3{
  color: #D36832;
  text-align: center;
}

#images img{
	border: 10px solid #387A9B;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
  box-shadow: 10px 20px 30px black;
}

#change{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	display: block;
}
a:link{
  color: #175B7D;
}

a:visited{
  color: #600;
}

a:hover, a:active{
  color: #fff;
  background: #175B7D;
}
